@media (max-width: 1310px) {
  .book-main {
    grid-template-columns: 75% 25%;
  }
}

@media (max-width: 1070px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 2.4rem;
  }

  .flex-container .card-box {
    flex: 0 0 calc(30% - 1rem);
  }
  .newbook-list {
    grid-template-columns: 60fr 40fr;
  }
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
  }

  .activity-section .grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .book-main {
    grid-template-columns: 70% 30%;
  }
  .grid--footer {
    gap: 2.4rem 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 3.6rem;
    text-align: center;
  }
  .container {
  }
  .navbar {
    display: none;
  }

  .grid-4-cols {
    grid-template-columns: 1fr;
    gap: 3.6rem;
  }
  .flex-container .card-box {
    flex: 0 0 calc(40% - 1rem);
  }
  .newbook-list {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }

  .activity-section .grid-3-cols {
    grid-template-columns: 1fr;
    gap: 3.6rem;
  }

  .grid--footer {
    row-gap: 3.6rem;
    grid-template-columns: 1fr;
    & p {
      font-size: 1.2rem;
    }
    & .last-footer,
    .logo-text__description {
      font-size: 1.2rem;
    }
  }

  .book-main {
    grid-template-columns: 100%;
  }
  .content-right {
    margin: 0 4.8rem;
  }
}

@media (max-width: 375px) {
  .newbook-grid-l {
    min-height: 300px;
  }
  .container {
    padding: 0.6rem;
  }
}
